workflows/[LM] [YAMPI] LEID - PRINCIPAL.json
{
  "active": true,
  "connections": {
    "APV / CARRINHO / ATT": {
      "main": [
        [
          {
            "node": "Msg Pedido Aprovado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Carrinho Abandonado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEP / TRANP / ENTREGUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg não aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEP / TRANP / ENTREGUE": {
      "main": [
        [
          {
            "node": "Msg Produto em Separação1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Em Transporte1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Entregue1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg PRONTO P ENVIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Carrinho Abandonado1": {
      "main": [
        [
          {
            "node": "Msg Carrinho Abandonado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Carrinho Abandonado2": {
      "main": [
        [
          {
            "node": "Msg Carrinho Abandonado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Pedido Aprovado1": {
      "main": [
        [
          {
            "node": "Msg Pedido Aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Pedido Aprovado": {
      "main": [
        [
          {
            "node": "Msg Pedido Aprovado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg PRONTO P ENVIO": {
      "main": [
        [
          {
            "node": "Msg PRONTO P ENVIO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Entregue1": {
      "main": [
        [
          {
            "node": "Msg Entregue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Entregue": {
      "main": [
        [
          {
            "node": "Msg Entregue2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg não aprovado": {
      "main": [
        [
          {
            "node": "Msg não aprovado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg não aprovado1": {
      "main": [
        [
          {
            "node": "Msg não aprovado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START YAMPI": {
      "main": [
        [
          {
            "node": "APV / CARRINHO / ATT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Produto em Separação1": {
      "main": [
        [
          {
            "node": "4 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4 dias": {
      "main": [
        [
          {
            "node": "CORTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 dias": {
      "main": [
        [
          {
            "node": "MONTAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORTE": {
      "main": [
        [
          {
            "node": "3 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MONTAGEM": {
      "main": [
        [
          {
            "node": "4 dias -",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACABAMENTO": {
      "main": [
        [
          {
            "node": "3 dias -",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4 dias -": {
      "main": [
        [
          {
            "node": "ACABAMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 dias -": {
      "main": [
        [
          {
            "node": "ESCRITÓRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START YAMPI - BOLETO E PIX": {
      "main": [
        [
          {
            "node": "CONFERÊNCIA SE É BOLETO OU PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFERÊNCIA SE É BOLETO OU PIX": {
      "main": [
        [
          {
            "node": "1 - PIX / 2 - BOLETO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 - PIX / 2 - BOLETO": {
      "main": [
        [
          {
            "node": "Msg PIX 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg BOLETO 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg PIX 1": {
      "main": [
        [
          {
            "node": "Msg PIX 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg PIX 2": {
      "main": [
        [
          {
            "node": "Msg PIX 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg BOLETO 1": {
      "main": [
        [
          {
            "node": "MSG BOLETO 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG BOLETO 2": {
      "main": [
        [
          {
            "node": "MSG BOLETO 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG BOLETO 3": {
      "main": [
        [
          {
            "node": "MSG BOLETO ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-08-17T14:18:39.205Z",
  "hash": "184e784dffda9edd0f62b0f363acc9e3",
  "id": 3,
  "name": "[LM] [YAMPI] LEID - PRINCIPAL",
  "nodes": [
    {
      "parameters": {},
      "id": "b6df3974-02b9-4a12-8e84-269d57d1410d",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1540,
        220
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"body\"][\"event\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "order.paid"
            },
            {
              "value2": "cart.reminder",
              "output": 1
            },
            {
              "value2": "order.status.updated",
              "output": 2
            },
            {
              "value2": "refused",
              "output": 3
            }
          ]
        }
      },
      "id": "9c8bea34-ea8d-4f0c-af09-6979c7fc16dd",
      "name": "APV / CARRINHO / ATT",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -980,
        220
      ]
    },
    {
      "parameters": {
        "value1": "={{$json[\"body\"][\"resource\"][\"status_id\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 5
            },
            {
              "operation": "equal",
              "value2": 6,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 7,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 12,
              "output": 3
            }
          ]
        }
      },
      "id": "44ef86ca-2bb5-4b57-9f08-1f717fbc7389",
      "name": "SEP / TRANP / ENTREGUE",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -140,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Olá, {{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}! Tudo bem? 🥰"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "5758aa4b-7274-4dd7-b13b-224681013cc8",
      "name": "Msg Pedido Aprovado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -360,
        -700
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Olá, {{$json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}!\nVimos que você chegou ao nosso checkout mas não conseguiu finalizar a sua compra 🙁."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "85a1f417-4cd6-4440-8e47-724f49ec45ce",
      "name": "Msg Carrinho Abandonado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -360,
        -360
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Uhuul, {{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}} 🥳\n\nSeu pedido acabou de ir para nosso setor de fabricação!\n\nVocê terá atualizações em breve."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "0d86893a-eac9-46de-9490-e5e0e0667e5f",
      "name": "Msg Produto em Separação1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        660,
        -220
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Oi, {{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}!\n\nO código de rastreio do seu pedido é {{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"track_code\"]}} e ele já está em transporte! ✈️📦\n\nVocê pode acompanhar a entrega por aqui 👇: \nhttps://melhorrastreio.com.br/rastreio/{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"track_code\"]}}."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "65cca6ac-246d-48c8-9ea1-5a604bf3df8e",
      "name": "Msg Em Transporte1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}, vimos aqui que seu pedido foi *Entregue*.\nEsperamos que goste! E não esqueça de nos marcar no instagram @leid.com.br."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "51052a64-d021-4a9c-8450-924c8adceade",
      "name": "Msg Entregue1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Se quiser tentar novamente, basta clicar no link abaixo ou caso esteja com dúvidas,\nbasta responder essa mensagem, que nossa gerente Dora vai lhe ajudar."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "d21ca07d-47ba-4aad-9c59-98024947bc9b",
      "name": "Msg Carrinho Abandonado2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -100,
        -360
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"simulate_url\"]}}"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "49b314c2-6e49-4526-b0ff-beb7a39a5925",
      "name": "Msg Carrinho Abandonado3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        220,
        -360
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}, seu pedido chegou ao nosso escritório! 🤩"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "bb659515-e5b4-457d-9433-11044066a770",
      "name": "Msg PRONTO P ENVIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        660,
        20
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=✅ Seu pagamento foi confirmado e daremos sequência ao seu pedido."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "f3745ce7-4614-4392-b364-4127e77705e2",
      "name": "Msg Pedido Aprovado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -100,
        -700
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Não se preocupe, pois estamos cuidando de tudo para você. Qualquer dúvida, estamos a disposição. 💚"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "1716beac-b571-4f40-8758-7af173f8ef1d",
      "name": "Msg Pedido Aprovado2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        220,
        -700
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Já estamos embalando com todo amor e carinho 🥰\n\nEm breve, você receberá o código de rastreio para acompanhamento. 📍"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "f8ec2ef8-5e7b-4dd9-844b-a7624f953e8d",
      "name": "Msg PRONTO P ENVIO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        940,
        20
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Ahh, e não se esqueça de fazer um comentário com foto em no nosso site!"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "ecd7312f-8cdc-49e1-83cf-ff31261e4edb",
      "name": "Msg Entregue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Você garante 5% de desconto na sua próxima compra. 💚"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "81ef6482-9aca-4dae-be5c-721651110316",
      "name": "Msg Entregue2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1240,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}, poxa vida ..."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "eaf3680b-bf9d-4919-a4d8-52ea1bb123e2",
      "name": "Msg não aprovado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -640,
        780
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Vimos aqui que seu pedido não foi aprovado 😔"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "752e2687-9f51-4625-af75-6ec08eccaf82",
      "name": "Msg não aprovado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -360,
        780
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Responde aqui que vamos gerar um link personalizado pra você, combinado?"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "69448576-03ac-4b82-897e-1b8a3db364cc",
      "name": "Msg não aprovado2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -100,
        780
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/leid-principal",
        "options": {}
      },
      "id": "17fb7fab-1360-4fd7-8a46-7529b1f99354",
      "name": "START YAMPI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1260,
        220
      ],
      "webhookId": "8b1b0605-e51d-4eb9-bb1a-991a975d020e"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "e08e2f1e-bc36-4648-bb7d-5abd342400cf",
      "name": "4 dias",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        900,
        -220
      ],
      "webhookId": "15c4623b-7cf2-4af8-933d-8fc67578bea2"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "dbad8004-395f-441f-bd0a-26cd98d38360",
      "name": "3 dias",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1440,
        -220
      ],
      "webhookId": "5ebbbfa0-7a29-48c7-a736-bcf6b7f4632f"
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "= {{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}} temos novidades sobre o seu pedido! 💚\n\nEle se encontra no setor de corte ✂️"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "6088e87b-3d2a-49d5-80df-9786ae15a971",
      "name": "CORTE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1160,
        -220
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=👀 Tá ansiosa né?  Mas não se preocupa seu pedido acabou de entrar no processo de montagem!\n\nEstamos montando com todo amor e carinho pra chegar como você espera 💚"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "36f40c76-2d25-401a-8a35-72736bdfe7e5",
      "name": "MONTAGEM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1680,
        -220
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}, você não sabe?!  🥰\n\nSeu pedido já está no setor de acabamento! Legal né?"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "96608887-7c38-4810-a873-a79fd9d22f00",
      "name": "ACABAMENTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2140,
        -220
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "dbe9e0bb-1a07-4d3e-b5bc-5a8e9722a83c",
      "name": "4 dias -",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1900,
        -220
      ],
      "webhookId": "00c7b5d2-5942-4829-814c-718c3ab9f288"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "098651ee-8cc6-4292-80a6-644e1effadfb",
      "name": "3 dias -",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2420,
        -220
      ],
      "webhookId": "bcca1472-29d7-48cd-914b-7287b29969ef"
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Seu pedido ficou pronto, e já está a caminho de nosso escritório!"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "749abe11-6178-4af5-800f-db178dbc80b4",
      "name": "ESCRITÓRIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2660,
        -220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/leid-bpix",
        "options": {}
      },
      "id": "9253711f-474b-47ad-913f-ba39fef7ba0f",
      "name": "START YAMPI - BOLETO E PIX",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1500,
        1500
      ],
      "webhookId": "8b1b0605-e51d-4eb9-bb1a-991a975d020e"
    },
    {
      "parameters": {},
      "id": "98b10ff7-d50e-415b-880d-cf2e26a52bc0",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -980,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"event\"]}}",
              "value2": "order.created"
            }
          ]
        }
      },
      "id": "13b375f0-9a7b-41c3-a342-5a273151f648",
      "name": "CONFERÊNCIA SE É BOLETO OU PIX",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1160,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"payments\"][0][\"alias\"]}}",
              "value2": "pix"
            }
          ]
        }
      },
      "id": "5a833f17-b839-4224-89da-fbeccc6637a7",
      "name": "1 - PIX / 2 - BOLETO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -820,
        1460
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Ooi, {{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}!\n\nVi aqui que você está comprando via pix 💚"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "5c072b81-4617-4e32-96a5-29855e174932",
      "name": "Msg PIX 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -480,
        1440
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Segue abaixo o pix copia e cola! *Lembrando que ele só é válido por 30 minutos ok?*"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "9c10d822-ee8d-4bf5-a9fb-60649954ec50",
      "name": "Msg PIX 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -220,
        1440
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"transactions\"][\"data\"][0][\"metadata\"][\"data\"][\"pix_qr_code\"]}}"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "1eb11eef-66c7-43d3-84e5-8224a28103f8",
      "name": "Msg PIX 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        40,
        1440
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Ooi, {{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"]}}!\n\nVi aqui que você está comprando via boleto 💚"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "a7109015-cf6f-4193-bb36-0c80880db8d3",
      "name": "Msg BOLETO 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -520,
        1740
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Vou te passar duas opções de pagamento tá bem? A primeira é o link para o seu boleto e a segunda é seu código de barras."
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "b45ae0cc-0f11-4169-adc8-f70a8f70e79c",
      "name": "MSG BOLETO 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -260,
        1740
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"transactions\"][\"data\"][0][\"billet_url\"]}}"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "473a71b1-8b6a-4c0d-b2be-9b54fd9ea15e",
      "name": "MSG BOLETO 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        0,
        1740
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"START YAMPI - BOLETO E PIX\"].json[\"body\"][\"resource\"][\"transactions\"][\"data\"][0][\"billet_barcode\"]}}"
            },
            {
              "name": "sender",
              "value": "558188550851"
            },
            {
              "name": "token",
              "value": "u3MzhRbQ3PKw0ySP2czj"
            }
          ]
        }
      },
      "id": "86f9c41a-5238-4188-94c5-ce968918c2ed",
      "name": "MSG BOLETO ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        240,
        1740
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-08-22T22:54:47.348Z",
      "updatedAt": "2022-08-22T22:54:47.348Z",
      "id": "2",
      "name": "💜"
    }
  ],
  "updatedAt": "2022-11-13T16:57:16.326Z"
}