workflows/[NL] [HOTMART] [DW API] - FLUXO PRINCIPAL.json
{
  "active": false,
  "connections": {
    "HOTMART ENVIA WEBHOOK": {
      "main": [
        [
          {
            "node": "É CARRINHO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É CARRINHO?": {
      "main": [
        [
          {
            "node": "🔎 CAÇA TELEFONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🪝 CAPTURA O ID DA TRANSAÇÃO / BOLETO / QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📃 BOLETO": {
      "main": [
        [
          {
            "node": "📃 ENVIA CÓDIGO DE BARRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💸 PIX": {
      "main": [
        [
          {
            "node": "💸 ENVIA COPIA E COLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📮 FILTRA SITUAÇÃO": {
      "main": [
        [
          {
            "node": "✅ APROVADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ CANCELADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BOLETO OU PIX ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 CONSULTA DADOS NA API": {
      "main": [
        [
          {
            "node": "📮 FILTRA SITUAÇÃO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 CAÇA TELEFONE": {
      "main": [
        [
          {
            "node": "🛒 CARRINHO ABANDONADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOLETO OU PIX ?": {
      "main": [
        [
          {
            "node": "📃 BOLETO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💸 PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🪝 CAPTURA O ID DA TRANSAÇÃO / BOLETO / QR": {
      "main": [
        [
          {
            "node": "🔎 CONSULTA DADOS NA API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛒 CARRINHO ABANDONADO": {
      "main": [
        [
          {
            "node": "🛒 CARRINHO ABANDONADO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ APROVADO": {
      "main": [
        [
          {
            "node": "✅ APROVADO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ CANCELADO": {
      "main": [
        [
          {
            "node": "❌ CANCELADO 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-17T21:42:29.645Z",
  "hash": "12d1125f598378aa5142d9586f37875d",
  "id": 30,
  "name": "[NL] [HOTMART] [DW API] - FLUXO PRINCIPAL",
  "nodes": [
    {
      "parameters": {},
      "id": "d1430c74-5d62-4572-9457-ccee92b6c93f",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -120,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nome-do-webhook",
        "options": {}
      },
      "id": "935c0347-e2a8-47f2-82c8-76c3f69375b1",
      "name": "HOTMART ENVIA WEBHOOK",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        120,
        160
      ],
      "webhookId": "8d345424-c298-4142-a6fa-366c880c5d93"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"event\"]}}",
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART"
            }
          ]
        }
      },
      "id": "db1f6067-75e5-4c8b-b9bf-5efdb6413ff4",
      "name": "É CARRINHO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        340,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"buyer\"][\"phone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Fala {{$json[\"body\"][\"data\"][\"buyer\"][\"name\"]}}, tudo bem?\n\nVi aqui que você chegou bem pertinho de comprar o curso, mas por algum motivo não conseguiu."
            },
            {
              "name": "sender",
              "value": "558481521797"
            },
            {
              "name": "token",
              "value": "RFx9Wi9aJ1qGneaOoz6g"
            }
          ]
        }
      },
      "id": "f5741330-8b55-4328-af0f-1a1ae62c155c",
      "name": "🛒 CARRINHO ABANDONADO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        980,
        -140
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Fala {{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"name\"]}}, tudo bem?\n\nEstou passando pra avisar que deu tudo certo com a sua compra!"
            },
            {
              "name": "sender",
              "value": "558481521797"
            },
            {
              "name": "token",
              "value": "RFx9Wi9aJ1qGneaOoz6g"
            }
          ]
        }
      },
      "id": "36643f63-dc03-41b6-9605-4c476bd90eb0",
      "name": "✅ APROVADO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1640,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Fala {{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"name\"]}}! Tudo bem?\n\nVi que infelizmente sua compra não foi aprovada..."
            },
            {
              "name": "sender",
              "value": "558481521797"
            },
            {
              "name": "token",
              "value": "RFx9Wi9aJ1qGneaOoz6g"
            }
          ]
        }
      },
      "id": "1a1887b1-f080-4382-a0d2-3900a96d30fb",
      "name": "❌ CANCELADO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1620,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Fala {{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"name\"]}}! Tudo bem?\n\nEstou passando aqui só pra te enviar o seu código de barras do seu boleto pra compra do curso, combinado?"
            },
            {
              "name": "sender",
              "value": "558481521797"
            },
            {
              "name": "token",
              "value": "RFx9Wi9aJ1qGneaOoz6g"
            }
          ]
        }
      },
      "id": "47ffecce-80d5-4f88-b1b9-723c26d14bec",
      "name": "📃 BOLETO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1980,
        520
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=Fala {{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"name\"]}}! Tudo bem?\n\nEstou passando aqui só pra te enviar o seu código pix pra compra do curso, combinado? \n\nÉ só copiar e colar ai no seu banco!"
            },
            {
              "name": "sender",
              "value": "numero-do-remetente"
            },
            {
              "name": "token",
              "value": "token-dw-api"
            }
          ]
        }
      },
      "id": "ed364635-0ad2-4566-b38a-c368c04d1ef6",
      "name": "💸 PIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1980,
        780
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"🪝 CAPTURA O ID DA TRANSAÇÃO / BOLETO / QR\"].json[\"body\"][\"data\"][\"purchase\"][\"status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "APPROVED"
            },
            {
              "value2": "CANCELLED",
              "output": 1
            },
            {
              "value2": "BILLET_PRINTED",
              "output": 2
            },
            {
              "value2": "WAITING_PAYMENT",
              "output": 3
            }
          ]
        }
      },
      "id": "0bb02a9c-494d-4c26-bc86-d2095ae9989a",
      "name": "📮 FILTRA SITUAÇÃO",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1220,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "transaction",
              "value": "={{$node[\"🪝 CAPTURA O ID DA TRANSAÇÃO / BOLETO / QR\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"]}}"
            }
          ]
        }
      },
      "id": "6edf4562-1799-48ed-8070-f9878269743f",
      "name": "🔎 CONSULTA DADOS NA API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        320
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "1",
          "name": "API - HOTMART - ANTONIO"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"]}}"
            },
            {
              "name": "sender",
              "value": "555198607446"
            },
            {
              "name": "token",
              "value": "22jcSsZZ1NneYF7pGzyh"
            }
          ]
        }
      },
      "id": "736e900b-c295-4183-9022-e76a0f131002",
      "name": "💸 ENVIA COPIA E COLA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2240,
        780
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"]}}"
            },
            {
              "name": "sender",
              "value": "555198607446"
            },
            {
              "name": "token",
              "value": "22jcSsZZ1NneYF7pGzyh"
            }
          ]
        }
      },
      "id": "086dbe8d-d1b6-4bd1-a008-6691772d0b58",
      "name": "📃 ENVIA CÓDIGO DE BARRA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2240,
        520
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "buyer_email",
              "value": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"buyer\"][\"email\"]}}"
            }
          ]
        }
      },
      "id": "b4fa9673-956e-4710-b699-7bff7c910dc9",
      "name": "🔎 CAÇA TELEFONE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        700,
        -140
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "1",
          "name": "API - HOTMART - ANTONIO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"🪝 CAPTURA O ID DA TRANSAÇÃO / BOLETO / QR\"].json[\"boleto\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "29c5d721-6ad1-446b-ae17-a57d2d638403",
      "name": "BOLETO OU PIX ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        540
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "transaction",
              "value": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"purchase\"][\"transaction\"]}}"
            },
            {
              "name": "boleto",
              "value": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"billet_barcode\"]}}"
            },
            {
              "name": "pix",
              "value": "={{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"purchase\"][\"payment\"][\"pix_code\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3851f6fe-31c9-4be3-aa0e-d5d661305a83",
      "name": "🪝 CAPTURA O ID DA TRANSAÇÃO / BOLETO / QR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.dw-api.com/send",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"sender\" : \"558481521797\",\n\"receiver\": \"55{{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"buyer\"][\"phone\"]}}\",\n\"msgtext\" : \"Ficou com alguma dúvida sobre o Notificações Lucrativas 🤖?\",\n\"token\" : \"RFx9Wi9aJ1qGneaOoz6g\",\n\"buttons\" : {\n\"replyButtons\": [\n{\n\"buttonId\": \"Sim, ainda tenho dúvidas ⚠️\",\n\"type\": 1,\n\"buttonText\": {\n\"displayText\": \"Sim, ainda tenho dúvidas ⚠️\"\n}\n}, {\n\"buttonId\": \"Não, porém preciso de ajuda com meu pagamento\",\n\"type\": 1,\n\"buttonText\": {\n\"displayText\": \"Não, porém preciso de ajuda com meu pagamento\"\n}\n}\n\n]\n}\n}"
      },
      "id": "faa802ea-cc12-4e85-8120-379d61beaa99",
      "name": "🛒 CARRINHO ABANDONADO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1240,
        -140
      ]
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "=55{{$node[\"🔎 CONSULTA DADOS NA API\"].json[\"items\"][0][\"users\"][1][\"user\"][\"cellphone\"]}}"
            },
            {
              "name": "msgtext",
              "value": "=E se todos os meus 🤖 estiverem trabalhando, você já vai ser adicionado no nosso grupo de suporte aqui no whatsapp.\n\nLembrando que é essencial que *todas* as aulas sejam assistidas, pois as dúvidas básicas são respondidas nas aulas"
            },
            {
              "name": "sender",
              "value": "558481521797"
            },
            {
              "name": "token",
              "value": "RFx9Wi9aJ1qGneaOoz6g"
            }
          ]
        }
      },
      "id": "e75a96cf-9073-46ee-9f12-d272c7a5d51d",
      "name": "✅ APROVADO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1880,
        60
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.dw-api.com/send",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"sender\" : \"558481521797\",\n\"receiver\": \"55{{$node[\"HOTMART ENVIA WEBHOOK\"].json[\"body\"][\"data\"][\"buyer\"][\"phone\"]}}\",\n\"msgtext\" : \"Você ficou com alguma dúvida sobre o Notificações Lucrativas 🤖?\",\n\"token\" : \"RFx9Wi9aJ1qGneaOoz6g\",\n\"buttons\" : {\n\"replyButtons\": [\n{\n\"buttonId\": \"Sim, ainda tenho dúvidas ⚠️\",\n\"type\": 1,\n\"buttonText\": {\n\"displayText\": \"Sim, ainda tenho dúvidas ⚠️\"\n}\n}, {\n\"buttonId\": \"Não, porém preciso de ajuda com meu pagamento\",\n\"type\": 1,\n\"buttonText\": {\n\"displayText\": \"Não, porém preciso de ajuda com meu pagamento\"\n}\n}\n\n]\n}\n}"
      },
      "id": "10fe7827-82fe-4beb-9b98-a09a8de85c04",
      "name": "❌ CANCELADO 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1880,
        280
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-08-22T19:51:00.273Z",
      "updatedAt": "2022-08-22T19:51:00.273Z",
      "id": "1",
      "name": "🔥"
    }
  ],
  "updatedAt": "2022-09-19T14:15:12.296Z"
}