workflows/[TEMPLATE] - MÉTRICAS ANTIGAS.json
{
  "active": false,
  "connections": {
    "Última Execução?1": {
      "main": [
        [
          {
            "node": "Espera um pouco1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Passa um anúncio de cada vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera um pouco1": {
      "main": [
        [
          {
            "node": "Separa os Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lê: Planilha Workshop": {
      "main": [
        [
          {
            "node": "Separa os Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os Dias": {
      "main": [
        [
          {
            "node": "Lista os anúncios do dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista os anúncios do dia": {
      "main": [
        [
          {
            "node": "Separa os anúncios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os anúncios": {
      "main": [
        [
          {
            "node": "Passa um anúncio de cada vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passa um anúncio de cada vez": {
      "main": [
        [
          {
            "node": "Métricas a Nível AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas a Nível AD": {
      "main": [
        [
          {
            "node": "Ajeita os dados do anúncio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajeita os dados do anúncio": {
      "main": [
        [
          {
            "node": "Extrai Métricas da Array Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Métricas da Array Actions": {
      "main": [
        [
          {
            "node": "Inserir na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir na Planilha": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona à Planilha": {
      "main": [
        [
          {
            "node": "Última Execução?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Lê: Planilha Workshop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Adiciona à Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-13T22:02:35.917Z",
  "hash": "3285c367e6c511ba9728a562965e86ce",
  "id": 78,
  "name": "[TEMPLATE] - MÉTRICAS ANTIGAS",
  "nodes": [
    {
      "parameters": {},
      "id": "68240a3d-78b0-4cd3-84db-f89b38e71c47",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3900,
        140
      ]
    },
    {
      "parameters": {
        "content": "## ✅ Extração de Métricas Pretéritas a Nível AD\n",
        "height": 476.667077886309,
        "width": 3293.7937124162145
      },
      "id": "1d738d2b-9847-4b76-8c54-b653869900d7",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3580,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Passa um anúncio de cada vez\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "9b4ffdaa-34e5-4258-b78f-f722c027becc",
      "name": "Última Execução?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6320,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Extrai Métricas de Ações\n",
        "height": 133.92901020200262,
        "width": 177.1229069577711
      },
      "id": "fdee7c04-16d0-4574-970b-4af7fa88e6b3",
      "name": "Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5260,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Mapeia métricas escolhidas para adicionar à planilha"
      },
      "id": "b8ca9192-5da2-4469-a730-3c85e20fb83d",
      "name": "Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5460,
        -20
      ]
    },
    {
      "parameters": {
        "content": "## Verificador do segundo looping 👆🏽\n(Não mexa aqui)",
        "height": 124.15876451247402,
        "width": 398.19504002877306
      },
      "id": "b889175f-160a-4fa6-b005-c83a94d0de57",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6440,
        180
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "8c89d734-54ec-4f8e-99c4-755b1455529b",
      "name": "Espera um pouco1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        6540,
        -20
      ],
      "webhookId": "b2c0fae0-62c8-48ca-8aa3-7f81197bc491"
    },
    {
      "parameters": {
        "content": "## Leitura da planilha\nLeitura da primeira folha da planilha onde estão delimitadas as datas",
        "height": 104.46079891425553,
        "width": 311.0568619080111
      },
      "id": "13a4c978-bdb5-4abc-a63d-5625ef801022",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4040,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Separa Campanha por Campanha",
        "height": 94.83574415019801,
        "width": 280.605529266526
      },
      "id": "4b145c85-fd6c-4cd3-8adf-569ff5b6ed05",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4440,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Instruções Gerais\n1. Copie a planilha modelo (1mlTHP_XUrOFwMgeaZNxzs1mR3XTns9TM_FgxgiWBtwk)\n2. Na primeira folha da planilha, insira o período que você deseja puxar as métricas (apenas na primeira folha, ok?)\n3. Copie o ID da planilha que você gerou (na URL, após \"spreadsheets/d/\" está o ID da planilha)\n4. Cole o ID da planilha gerada no campo ID do node \"Lê: Planilha Workshop\" e também no ID do node: \"Adiciona à Planilha\"\n5. No node \"Métricas a Nível Campanha\", insira o acess_token que você gerou na criação do Aplicativo\n6. No node \"Métricas a Nível Campanha\", insira o código (ID) da conta cujos insights deseja extrair. Exemplo 👇🏽\nhttps://graph.facebook.com/v15.0/act_{códigodaconta}/insights\n\n\nSe você tiver seguido todos os passos do curso, **é só dar play no botão \"Execute Workflow\" e ser feliz!**",
        "height": 273.06818416854395,
        "width": 855.3945850482847
      },
      "id": "a0a54f83-7ec4-402a-acfe-9ea1450f8f57",
      "name": "Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3580,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Sobre as métricas mapeadas\nAs métricas mapeadas estão no node \"Inserir na Planilha\". \n\nCaso retornem vazias, nada será adicionado. Se retornarem com valor, o respectivo valor será adicionado",
        "height": 207.8939112013717,
        "width": 390.9383868164439
      },
      "id": "f0c5bd69-dd9a-4691-a937-50edccd4f79d",
      "name": "Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4460,
        460
      ]
    },
    {
      "parameters": {
        "sheetId": "12SVl92XfJzkzr7P0o6D4RPWD4tmZfwVFpnolwM_1RnU",
        "range": "A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "id": "be855682-5e9e-4690-9845-dc87b7a73aef",
      "name": "Lê: Planilha Workshop",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        4080,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "862996c7-549e-4b7b-b547-b97de26aa85f",
      "name": "Separa os Dias",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        4240,
        140
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v15.0/act_594046525115981/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "campaign_name,adset_name,ad_name, ad_id"
            },
            {
              "name": "time_range",
              "value": "={\"since\":\"{{ $json[\"Data\"] }}\",\"until\":\"{{ $json[\"Data\"] }}\"}"
            },
            {
              "name": "access_token",
              "value": "EAASaWFsw6bUBAGxRtjh5JZBPZBOUhWQVf3PToI2coC4n0YjPsFyrkge615VZAwiuJ0QaTqZCGymKpcNz87Ce9P6BZCymq2j327JSkA26ENZCmIpuGskv8PYAt7NJTlEotFZC0TfyKhlrWZB5XKy7bslmXbtwJNVvGsbCXstYqQ5JjyFpftyLz8X6PdisJoFdiwaiJmZCg0pjdDwZDZD"
            },
            {
              "name": "level",
              "value": "ad"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "67d2c20f-6e3b-47b4-b051-d9995521720e",
      "name": "Lista os anúncios do dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4400,
        140
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b2574553-4ede-4926-86fc-df4d5c8db9c0",
      "name": "Separa os anúncios",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        4600,
        140
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": "={{$node[\"Passa um anúncio de cada vez\"].context[\"noItemsLeft\"]}}"
        }
      },
      "id": "93608186-5260-4d2b-94a0-0d7ba5fd48b1",
      "name": "Passa um anúncio de cada vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        4780,
        140
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v15.0/{{$node[\"Passa um anúncio de cada vez\"].json[\"ad_id\"]}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "campaign_name,adset_name,ad_name,impressions,reach,clicks,spend,actions"
            },
            {
              "name": "time_range",
              "value": "={\"since\":\"{{$node[\"Separa os Dias\"].json[\"Data\"]}}\",\"until\":\"{{$node[\"Separa os Dias\"].json[\"Data\"]}}\"}"
            },
            {
              "name": "access_token",
              "value": "EAASaWFsw6bUBAGxRtjh5JZBPZBOUhWQVf3PToI2coC4n0YjPsFyrkge615VZAwiuJ0QaTqZCGymKpcNz87Ce9P6BZCymq2j327JSkA26ENZCmIpuGskv8PYAt7NJTlEotFZC0TfyKhlrWZB5XKy7bslmXbtwJNVvGsbCXstYqQ5JjyFpftyLz8X6PdisJoFdiwaiJmZCg0pjdDwZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "a5ed6a65-3a0c-45f0-b1da-e8704fab47b5",
      "name": "Métricas a Nível AD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4960,
        140
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "26b89872-9284-4445-ae32-eb3521ccd032",
      "name": "Ajeita os dados do anúncio",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        5140,
        140
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "//pega os dados do \"body\" do input\nlet data = $input.item.json.actions;\n\n//faz o loop sob cada uma das propriedades\nfor (i in data){\n  //pega a propriedade atual, o seu \"action\" e o seu \"value\"\n  let dataItem = data[i];\n  let action = dataItem.action_type;\n  let value = dataItem.value;\n\n  //cria uma nova propriedade no input com o nome da \"action\" e o valor do \"value\"\n  $input.item.json[action] = value\n}\n\n//retorna o input com os novos campos\nreturn $input.item;"
      },
      "id": "94650f59-385f-4730-b71a-074dda0af3d2",
      "name": "Extrai Métricas da Array Actions",
      "type": "n8n-nodes-base.code",
      "position": [
        5320,
        140
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ID",
              "value": "==LIN()-1"
            },
            {
              "name": "ID2",
              "value": "==LIN()-1"
            },
            {
              "name": "Data",
              "value": "={{ $node[\"Separa os Dias\"].json[\"Data\"] }}"
            },
            {
              "name": "Campanha",
              "value": "={{ $json[\"campaign_name\"] }}"
            },
            {
              "name": "Valor Gasto",
              "value": "={{ $json[\"spend\"].replace('.',',') }}"
            },
            {
              "name": "Impressões",
              "value": "={{ $json[\"impressions\"] }}"
            },
            {
              "name": "Alcance",
              "value": "={{ $json[\"reach\"] }}"
            },
            {
              "name": "Cliques no Link",
              "value": "={{ $json[\"link_click\"] }}"
            },
            {
              "name": "Visualização da Página",
              "value": "={{ $json[\"landing_page_view\"] }}"
            },
            {
              "name": "Leads",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_lead\"] }}"
            },
            {
              "name": "Contatos",
              "value": "={{ $json[\"contact_total\"] }}"
            },
            {
              "name": "Mensagens",
              "value": "={{ $json[\"onsite_conversion.messaging_conversation_started_7d\"] }}"
            },
            {
              "name": "Compras",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_purchase\"] }}"
            },
            {
              "name": "Checkouts",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_initiate_checkout\"] }}"
            },
            {
              "name": "Viu Conteúdo",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_view_content\"] }}"
            },
            {
              "name": "Adição ao Carrinho",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_add_to_cart\"] }}"
            },
            {
              "name": "Pesquisar",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_search\"] }}"
            },
            {
              "name": "Add Info Pagamento",
              "value": "={{ $json[\"offsite_conversion.fb_pixel_add_payment_info\"] }}"
            },
            {
              "name": "Público",
              "value": "={{ $json[\"adset_name\"] }}"
            },
            {
              "name": "Anúncio",
              "value": "={{ $node[\"Extrai Métricas da Array Actions\"].json[\"ad_name\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d70aa36-8913-4e8a-8511-5da13a146015",
      "name": "Inserir na Planilha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        5500,
        140
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "12SVl92XfJzkzr7P0o6D4RPWD4tmZfwVFpnolwM_1RnU",
        "range": "NÍVEL AD!A:Z",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "a5897c69-885a-4fa3-8f3c-364b1d6529d3",
      "name": "Adiciona à Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        5940,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 16
            }
          ]
        }
      },
      "id": "e2d2f2a2-da6d-475b-9050-540dfb680b97",
      "name": "Iniciar às 9:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        3680,
        140
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "aa511a08-d5bf-4146-be9e-eed861c2ce6c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5720,
        140
      ],
      "webhookId": "c2de9b60-074a-4681-b031-347900d968cc"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-11-12T23:55:26.092Z",
      "updatedAt": "2022-11-12T23:55:26.092Z",
      "id": "13",
      "name": "Workshop Métricas Pro"
    }
  ],
  "updatedAt": "2022-11-14T01:23:16.072Z"
}