workflows/[TEMPLATE] - TRELLO -> WHATSAPP.json
{
  "active": false,
  "connections": {
    "Trello Trigger": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "MSG TRELLO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-08-28T01:57:58.656Z",
  "hash": "26bcf6fac2eee8570a65349325c0b1ef",
  "id": 20,
  "name": "[TEMPLATE] - TRELLO -> WHATSAPP",
  "nodes": [
    {
      "parameters": {},
      "id": "3ca882c4-0215-4522-9f08-cd776b4de8b6",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        340
      ]
    },
    {
      "parameters": {
        "id": "61d7422d3768727b4ff2d8e2"
      },
      "id": "a8ef0733-6c0e-4c30-9baa-4576e4039f64",
      "name": "Trello Trigger",
      "type": "n8n-nodes-base.trelloTrigger",
      "typeVersion": 1,
      "position": [
        480,
        340
      ],
      "webhookId": "61a8a561-e3ee-41c0-a8fa-526bd39e0e45",
      "credentials": {
        "trelloApi": {
          "id": "3",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.dw-api.com/send",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "receiver",
              "value": "5584981521797"
            },
            {
              "name": "msgtext",
              "value": "=Novo card na lista: {{$node[\"Trello Trigger\"].json[\"action\"][\"data\"][\"list\"][\"name\"]}}\nTítulo do card: {{$node[\"Trello Trigger\"].json[\"action\"][\"data\"][\"card\"][\"name\"]}}"
            },
            {
              "name": "sender",
              "value": "558481521797"
            },
            {
              "name": "token",
              "value": "RFx9Wi9aJ1qGneaOoz6g"
            }
          ]
        }
      },
      "id": "6c603461-5694-4f9a-8cb6-6793d937d92f",
      "name": "MSG TRELLO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Trello Trigger\"].json[\"action\"][\"type\"]}}",
              "value2": "createCard"
            }
          ]
        }
      },
      "id": "d2500cb5-5a69-440d-ace6-cd2a4dfab6a3",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        340
      ]
    },
    {
      "parameters": {},
      "id": "71306b78-4070-488c-b8c3-7b0e13261a6f",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        480
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Trello Trigger": {}
  },
  "tags": [],
  "updatedAt": "2022-10-17T04:59:13.897Z"
}