workflows/PÁGINA 13.json
{
  "active": false,
  "connections": {
    "Ler Planilha": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Ler Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-21T18:23:54.307Z",
  "hash": "ed8704b4005f86e39592f8a47c82c024",
  "id": 98,
  "name": "PÁGINA 13",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "Página13!A:C",
        "options": {}
      },
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -100,
        420
      ],
      "id": "7be39a6b-8447-4a2a-93ad-11efe6db2ae5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d1e888ce-3d61-4315-8d04-d2c11f65eeb3",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        140,
        420
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "112782894987257",
        "recipientPhoneNumber": "={{ $json[\"numero\"] }}",
        "template": "aovivo|pt_BR"
      },
      "id": "191ea751-e861-4c53-b4c4-216b9203467f",
      "name": "WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        360,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "44",
          "name": "FINAL 8297 - TEM 250"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "enviado",
              "value": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "f354e890-5b6a-451c-9ee4-c2ceab73eb28",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        420
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "={{$node[\"Ler Planilha\"].parameter[\"range\"]}}",
        "key": "contador",
        "options": {}
      },
      "id": "cf40ebe2-5a01-42f5-b0d8-413aa599bfe4",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        920,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "={{$node[\"Ler Planilha\"].parameter[\"range\"]}}",
        "lookupColumn": "contador",
        "lookupValue": "={{ $json[\"contador\"] }}",
        "options": {}
      },
      "id": "4b4cc9be-8953-42df-a9b9-2927bfe035f6",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        540,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "57f2e19b-e86d-42bf-a86c-8e39d6ee48b5",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-21T18:24:18.733Z"
}