workflows/PÁGINA 6.json
{
  "active": false,
  "connections": {
    "Ler Planilha": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Ler Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-21T18:17:29.727Z",
  "hash": "710d58ebca7104d027d1b1abbff48a6d",
  "id": 91,
  "name": "PÁGINA 6",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "Página6!A:C",
        "options": {}
      },
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -100,
        420
      ],
      "id": "3997d7bc-4472-438d-8068-74165b82b07c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "eb4a03e4-02b9-4433-bc18-c68b4cfe42fd",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        140,
        420
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "110903121844238",
        "recipientPhoneNumber": "={{ $json[\"numero\"] }}",
        "template": "aovivo|pt_BR"
      },
      "id": "b6e33a24-e4cb-4b6b-87ae-4a1661c8bf75",
      "name": "WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        360,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "32",
          "name": "FINAL 4396 - TEM 999"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "enviado",
              "value": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "7d11f239-385c-4bfa-b91f-5f3d9790f752",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        420
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "={{$node[\"Ler Planilha\"].parameter[\"range\"]}}",
        "key": "contador",
        "options": {}
      },
      "id": "b42d5b16-84a2-464d-8a1b-f49c7f5508e6",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        920,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "={{$node[\"Ler Planilha\"].parameter[\"range\"]}}",
        "lookupColumn": "contador",
        "lookupValue": "={{ $json[\"contador\"] }}",
        "options": {}
      },
      "id": "708ef911-6e7d-4313-bb6c-cb317b728b45",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        540,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ce36acf2-7d1f-4857-b170-5ed99edf428e",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-21T18:18:06.726Z"
}