workflows/PÁGINA 3.json
{
  "active": false,
  "connections": {
    "Ler Planilha": {
      "main": [
        [
          {
            "node": "WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        []
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Ler Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-21T18:07:59.880Z",
  "hash": "d602028c23601765452e7a75d4f02084",
  "id": 88,
  "name": "PÁGINA 3",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "Página3!A:C",
        "options": {}
      },
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        100,
        420
      ],
      "id": "917fdfd6-723e-4046-b8b0-e29f53e6a9fd",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "102270616054571",
        "recipientPhoneNumber": "={{ $json[\"numero\"] }}",
        "template": "aovivo|pt_BR"
      },
      "id": "1eb96d83-9e74-4089-9468-01546de4e259",
      "name": "WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        360,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "45",
          "name": "FINAL 3568 - TEM 250"
        }
      }
    },
    {
      "parameters": {},
      "id": "0c86d2ef-e8f5-4b8e-ad88-7952ee07a91c",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-21T23:28:50.242Z"
}