workflows/PÁGINA 2.json
{
  "active": false,
  "connections": {
    "Ler Planilha": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Ler Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-21T17:39:48.657Z",
  "hash": "704fa0881f5fda16f865717cd9504d10",
  "id": 87,
  "name": "PÁGINA 2",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "Página2!A:C",
        "options": {}
      },
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -100,
        420
      ],
      "id": "79e991d1-d1bd-424d-8f5d-90bc4b964ff2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f4f51214-d462-4e44-b351-dadc33e9f64a",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        140,
        420
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "101467392802796",
        "recipientPhoneNumber": "={{ $json[\"numero\"] }}",
        "template": "aovivo|pt_BR"
      },
      "id": "b8494d77-cdf9-41a3-9f26-cb10227f3203",
      "name": "WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        360,
        420
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "36",
          "name": "FINAL 3220 - TEM 998"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "enviado",
              "value": "ok"
            }
          ]
        },
        "options": {}
      },
      "id": "3ea09b16-c575-4b0d-910b-819169c96627",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        420
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "={{$node[\"Ler Planilha\"].parameter[\"range\"]}}",
        "key": "contador",
        "options": {}
      },
      "id": "26930560-e024-46f3-a080-510fb97dfaa8",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        920,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "12SPzxmgEQL4oHj-fwta1k_sXh3GqmrmGZh7qkCHqd-I",
        "range": "={{$node[\"Ler Planilha\"].parameter[\"range\"]}}",
        "lookupColumn": "contador",
        "lookupValue": "={{ $json[\"contador\"] }}",
        "options": {}
      },
      "id": "4abd6b46-5fc5-4cd8-bcb4-d1c5ad348f92",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        540,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e92133c4-9224-425e-a5a9-2f9aa25fd94d",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-21T18:17:00.702Z"
}