workflows/YAMPI -> FLASH.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-11T18:45:40.486Z",
  "hash": "60dabd329edea0e24af288edf55529ae",
  "id": 73,
  "name": "YAMPI -> FLASH",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flash-courrier",
        "options": {}
      },
      "id": "08e13aa2-805d-40c3-ab47-f541db85fff4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -80,
        620
      ],
      "webhookId": "dbd7d40a-0928-4bda-a3ca-0a13365f216f"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"body\"][\"resource\"][\"shipment_service\"] }}",
              "value2": "FRETE_PADRAO"
            }
          ]
        }
      },
      "id": "61d864df-89bb-473e-bf23-acb89c610334",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webservice.flashpegasus.com.br/FlashPegasus/rest/padrao/importacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n\"cliente_id\":7123,\n\"ctt_id\":9160,\n\"dna_hawb\":7,\n\"ccusto_id\":37138,\n\"tipo_enc_id\":21066,\n\"prod_flash_id\":157,\n\"frq_rec_id\":\"DSP\",\n\"ctt_ter_id\":null,\n\"tipo_merc_id\":null,\n\"num_enc_cli\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"number\"]}}\",\n\"num_enc_ter\":\"\",\n\"num_cliente\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"number\"]}}\",\n\"nome_rem\":\"LUCAS COMESTICOS LTDA\",\n\"endHawbs\":{\n\"nome_des\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"generic_name\"]}}\",\n\"logr_dest\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"street\"]}}\",\n\"bairro_des\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"neighborhood\"]}}\",\n\"num_des\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"number\"]}}\",\n\"compl_end_dest\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"complement\"]}}\",\n\"cid_dest\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"city\"]}}\",\n\"uf_dest\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"state\"]}}\",\n\"cep_dest\":{{$node[\"Set\"].json[\"body\"][\"cep\"]}},\n\"fone1_des\":\"{{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"full_number\"]}}\",\n\"fone2_des\":\"\",\n\"fone3_des\":\"\"\n},\n\"depto_des\":\"\",\n\"cod_lote\":\"11112022\",\n\"peso_aferido\":null,\n\"peso_declarado\":0.03,\n\"qtde_itens\":\"1.0\",\n\"valor\": 319.90,\n\"endHawbs2\":{\n\"nome_des\":\"\",\n\"logr_dest\":\"\",\n\"bairro_des\":\"\",\n\"num_des\":\"\",\n\"compl_end_dest\":\"\",\n\"cid_dest\":\"\",\n\"uf_dest\":\"\",\n\"cep_dest\":null,\n\"fone1_des\":\"\",\n\"fone2_des\":\"\",\n\"fone3_des\":\"\"\n},\n\"depto_des_2\":\"\",\n\"id_local_rem\":39962,\n\"cpf_des\":\"82339822025\",\n\"cnpj_des\":\"\",\n\"ie_des\":\"\",\n\"email_des\":\"email@teste.com\",\n\"obs1\": \"\",\n\"obs2\": \"CAM-23M-01\",\n\"obs3\": \"MAS-M-01\",\n\"obs4\": \"QUANT: 01\",\n\"ge1\":\"\",\n\"ge2\":\"\",\n\"ge3\":\"\",\n\"ge4\":\"\",\n\"chave_nf\":\"111111111111\"\n}]",
        "options": {}
      },
      "id": "9f07baf3-7c6e-458d-b78d-f6593ef185cc",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        800,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "23",
          "name": "Flash Courrier"
        }
      }
    },
    {
      "parameters": {},
      "id": "a8e6bb50-e2de-4458-aaac-b3c2d47309e6",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "cep",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"resource\"][\"shipping_address\"][\"data\"][\"zip_code\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "753addd5-5f5f-450b-9576-fbfc9dd2aec6",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-11-18T02:50:50.000Z"
}